[submodule "solver/ecos"]
	path = solver/ecos
	url = https://github.com/embotech/ecos
[submodule "osqp-python"]
	path = solver/osqp-python
	url = https://github.com/osqp/osqp-python
[submodule "solver/scs"]
	path = solver/scs
	url = https://github.com/cvxgrp/scs
