[submodule "cvxpygen/solvers/ecos"]
	path = cvxpygen/solvers/ecos
	url = https://github.com/embotech/ecos
[submodule "cvxpygen/solvers/osqp-python"]
	path = cvxpygen/solvers/osqp-python
	url = https://github.com/osqp/osqp-python
[submodule "cvxpygen/solvers/scs"]
	path = cvxpygen/solvers/scs
	url = https://github.com/cvxgrp/scs
[submodule "cvxpygen/solvers/Clarabel.cpp"]
	path = cvxpygen/solvers/Clarabel.cpp
	url = https://github.com/oxfordcontrol/Clarabel.cpp.git
[submodule "cvxpygen/solvers/qoco"]
	path = cvxpygen/solvers/qoco
	url = https://github.com/qoco-org/qoco.git
