include *.yml
include LICENSE
include cvxpygen/template/*
include cvxpygen/template/grad/*
include cvxpygen/solvers/osqp-python/LICENSE
include cvxpygen/solvers/scs/*
include cvxpygen/solvers/scs/cmake/*.cmake
include cvxpygen/solvers/scs/cmake/*.in
include cvxpygen/solvers/scs/src/*.c
include cvxpygen/solvers/scs/include/*.h
include cvxpygen/solvers/scs/linsys/*
include cvxpygen/solvers/scs/linsys/cpu/direct/*
include cvxpygen/solvers/scs/linsys/cpu/indirect/*
include cvxpygen/solvers/scs/linsys/external/amd/*
include cvxpygen/solvers/scs/linsys/external/qdldl/*
include cvxpygen/solvers/ecos/*
include cvxpygen/solvers/ecos/src/*.c
include cvxpygen/solvers/ecos/include/*.h
include cvxpygen/solvers/ecos/external/amd/*
include cvxpygen/solvers/ecos/external/amd/src/*.c
include cvxpygen/solvers/ecos/external/amd/include/*.h
include cvxpygen/solvers/ecos/external/ldl/*
include cvxpygen/solvers/ecos/external/ldl/src/*.c
include cvxpygen/solvers/ecos/external/ldl/include/*.h
include cvxpygen/solvers/ecos/external/SuiteSparse_config/*
include cvxpygen/solvers/ecos/ecos_bb/*
include cvxpygen/solvers/Clarabel.cpp/*
include cvxpygen/solvers/Clarabel.cpp/include/Clarabel
include cvxpygen/solvers/Clarabel.cpp/include/c/*.h
include cvxpygen/solvers/Clarabel.cpp/rust_wrapper/*
include cvxpygen/solvers/Clarabel.cpp/rust_wrapper/src/*.rs
include cvxpygen/solvers/Clarabel.cpp/rust_wrapper/src/solver/*.rs
include cvxpygen/solvers/Clarabel.cpp/rust_wrapper/src/solver/implementations/*.rs
include cvxpygen/solvers/Clarabel.cpp/rust_wrapper/src/solver/implementations/default/*.rs
include cvxpygen/solvers/Clarabel.cpp/rust_wrapper/src/utils/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/*.toml
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/algebra/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/algebra/csc/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/algebra/dense/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/algebra/densesym3x3/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/qdldl/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/core/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/core/cones/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/core/kktsolvers/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/core/kktsolvers/direct/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/core/kktsolvers/direct/quasidef/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/core/kktsolvers/direct/quasidef/ldlsolvers/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/implementations/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/implementations/default/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/solver/utils/*.rs
include cvxpygen/solvers/Clarabel.cpp/Clarabel.rs/src/timers/*.rs
include cvxpygen/solvers/qoco/*
include cvxpygen/solvers/qoco/src/*.c
include cvxpygen/solvers/qoco/include/*.h
include cvxpygen/solvers/qoco/configure/*
include cvxpygen/solvers/qoco/lib/*
include cvxpygen/solvers/qoco/lib/amd/*
include cvxpygen/solvers/qoco/lib/qdldl/*
include cvxpygen/solvers/qoco/lib/qdldl/*
include cvxpygen/solvers/qoco/lib/qdldl/configure/*
include cvxpygen/solvers/qoco/lib/qdldl/configure/cmake/*
include cvxpygen/solvers/qoco/lib/qdldl/include/*.h
include cvxpygen/solvers/qoco/lib/qdldl/src/*.c
exclude tests/*
