name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH

    - name: Install Python build system
      run: |
        pip install --upgrade pip
        pip install build setuptools wheel

    - name: Install dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt update
        sudo apt install libeigen3-dev
        pip install .[dev]
        pip install cvxpylayers torch>=2.3 jax==0.5.3

    - name: Install dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install eigen
        pip install .[dev]

    - name: Install dependencies (Windows)
      if: runner.os == 'Windows'
      run: |
        vcpkg install eigen3:x64-windows
        pip install .[dev]

    - name: Test with pytest (Linux)
      if: runner.os == 'Linux'
      run: |
        cd tests
        $CONDA/bin/pytest test_invalid_input.py test_E2E_LP.py test_E2E_QP.py test_E2E_SOCP.py test_MPQP.py test_diff.py

    - name: Test with pytest (macOS)
      if: runner.os == 'macOS'
      run: |
        cd tests
        python -m pytest test_invalid_input.py test_E2E_LP.py test_E2E_QP.py test_E2E_SOCP.py test_MPQP.py

    - name: Test with pytest (Windows)
      if: runner.os == 'Windows'
      run: |
        cd tests
        python -m pytest test_invalid_input.py test_E2E_LP.py::test test_E2E_QP.py::test test_E2E_QP.py::test_OSQP_verbose test_E2E_SOCP.py::test test_E2E_LP.py::test_qocogen test_unsupported_solvers.py
